{% extends "base.html" %}
{% block content %}

<div class="jumbotron" style="background-color: lightsalmon;">
    <h1 style="  font-family: 'Indie Flower', cursive;">Be nice to yourself</h1>
    <form class="form-group" style=" font-family: 'Indie Flower', cursive; " method="POST">
        {{form.hidden_tag()}}
        {{form.title.label}}{{form.title(class = "form-control")}}
        <br>
        {{form.added_affirmation.label}}{{form.added_affirmation(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-block" )}}
    </form>
</div>

{% endblock %}