{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style=" font-family: 'Indie Flower', cursive; ">Your Affirmations</h1>
    {%for added_affirmation in added_affirmations%}
    <div class="card mb-4" style="background-color: purple;">
        <div class="card-body" style="background-color: grey">
            <h1 style=" font-family: 'Indie Flower', cursive; ">{{added_affirmation.user_affirmations_title}}</h1>
            <p style=" font-family: 'Indie Flower', cursive; ">{{added_affirmation.user_affirmations_post_section}}</p>
            <br>
            <a class="btn btn-primary" href="/delaffirmation/{{added_affirmation.id}}"
                style=" font-family: 'Indie Flower', cursive; ">Delete</a>
            <br>
            <!-- <a href="/comments/{{added_affirmation.id }}">view comments/comment on Blog</a> -->

        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}