{%extends "base.html"%}
{%block content%}

<div class="container">
    <div class="jumbotron">
        <div class="card mb-4">
            <div class="card-body">
                <h1>Meditation</h1>
                <p> Meditation is an approach to training the mind, similar to the way that fitness is an approach to
                    training the body. But many meditation techniques exist — so how do you learn how to meditate?

                    “In Buddhist tradition, the word ‘meditation’ is equivalent to a word like ‘sports’ in the U.S. It’s
                    a family of activities, not a single thing,” University of Wisconsin neuroscience lab director
                    Richard J. Davidson, Ph.D., told The New York Times. And different meditation practices require
                    different mental skills.

                    It’s extremely difficult for a beginner to sit for hours and think of nothing or have an “empty
                    mind.” We have some tools such as a beginner meditation DVD or a brain-sensing headband to help you
                    through this process when you are starting out. In general, the easiest way to begin meditating is
                    by focusing on the breath — an example of one of the most common approaches to meditation:
                    concentration.

                    CONCENTRATION MEDITATION
                    Concentration meditation involves focusing on a single point. This could entail following the
                    breath, repeating a single word or mantra, staring at a candle flame, listening to a repetitive
                    gong, or counting beads on a mala. Since focusing the mind is challenging, a beginner might meditate
                    for only a few minutes and then work up to longer durations.

                    In this form of meditation, you simply refocus your awareness on the chosen object of attention each
                    time you notice your mind wandering. Rather than pursuing random thoughts, you simply let them go.
                    Through this process, your ability to concentrate improves.

                    MINDFULNESS MEDITATION
                    Mindfulness meditation encourages the practitioner to observe wandering thoughts as they drift
                    through the mind. The intention is not to get involved with the thoughts or to judge them, but
                    simply to be aware of each mental note as it arises.

                    Through mindfulness meditation, you can see how your thoughts and feelings tend to move in
                    particular patterns. Over time, you can become more aware of the human tendency to quickly judge an
                    experience as good or bad, pleasant or unpleasant. With practice, an inner balance develops.

                    In some schools of meditation, students practice a combination of concentration and mindfulness.
                    Many disciplines call for stillness — to a greater or lesser degree, depending on the teacher.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}