{% extends 'base.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}
<style>


</style>
<div class="navbar">
  <a id="pro">FEELINGS</a>
  <a href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="#news">About</a>
  <div class="dropdown">
    <button class="dropbtn"><i class= "fa fa-caret-down" >Be inspired</i></button>
    <div class="dropdown-content">
      <a href="#">Custom</a>
      <a href="#">Pre made</a>
    </div>
  </div>
</div>
{% endblock %}