{% extends 'base.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}
<style>
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  margin:2px;
}
#life:hover{
   background-color:transparent;
}
#real{
  float:right;
}
#real:hover{
      background-color:transparent;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: transparent;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#pro:hover{
        background-color:transparent;
}


</style>
<div class="navbar">
  <a id="pro">FEELINGS</a>
  <a href="#"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="#" id="life"><i class="fa fa-book"></i>About</a>
  <div class="dropdown">
    <button class="dropbtn"><i class= "fa fa-caret-down" >Be inspired</i></button>
    <div class="dropdown-content">
      <a href="#">Custom</a>
      <a href="#">Pre made</a>
    </div>
  </div>
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>
{% endblock %}