<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content %}
<div class="navbar">

  <a id="pro">FEELINGS</a>

  <a href="#"><i class="fa fa-fw fa-home"></i>Home</a>

  <a href="#" id="life"><i class="fa fa-book"></i>About</a>

  <div class="dropdown">

    <button class="dropbtn"><i class= "fa fa-caret-down" >Be inspired</i></button>

    <div class="dropdown-content">

      <a href="#">Custom</a>

      <a href="#">Pre made</a>

    </div>

  </div>

  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>

</div>
{% endblock %}